/*колір основного тексту #757575 */
/* вторинний колір тексту #212121  */
/* білий колір #FFFFFF */
/* акцент #2196F3 */

:root {
  /* Fonts */
  --main-font: Roboto, sana-serif;
  --secondary-font: Raleway, sana-serif;
  /* Text color */
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --primery-white-color: #ffffff;
}

.body {
  background-color: var(--primery-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

.page {
  font-family: "Roboto";
  font-style: normal;
  font-style: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

/* HEADER */

.page-header .link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

/* Site nav */

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-name {
  color: var(--accent-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.link-contact {
  color: var(--primary-text-color);
  text-decoration: none;
}

.list .link-contact:hover,
.list .link-contact:focus {
  color: var(--accent-text-color);
}

/* Hero */

.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background-color: var(--accent-text-color);
}
/* Section */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Benefits */

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.benefits-list {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Team */

.title-member {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.contact {
  font-style: normal;
}

.footer-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
}

.footer .logo {
  color: var(--primery-white-color);
}

.logo-footer {
  color: var(--accent-text-color);
}

.footer-contact {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-text-color);
}
/* ПОРТФОЛІО */
/* Наші проекти */

/* Button */

.project-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.project-btn:hover,
.project-btn:focus {
  background-color: var(--accent-text-color);
  color: var(--primery-white-color);
}

/* Project*/

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
